/*悬浮条*/
.cmpt-sideSlider{
	position:fixed;
	_position:absolute;
	margin-left:50%;
	left:505px;
	top:489px;
	width:68px;
	border:1px solid #eeeeee;
	background:#ffffff;
    z-index:99;
}
.cmpt-sideSlider .entry{
	border-bottom:1px solid #eeeeee;
	color:#555555;
	font:13px/normal 'SimSun';
	text-align:center;
	display:block;
	text-decoration:none;
	padding:10px 0;
}
.cmpt-sideSlider .close{
	position:absolute;
	right:0;
	top:0;
	height:13px;
	width:13px;
	_overflow:hidden;
	background:url(../images/ico-service.png) no-repeat 0 -54px;
	border:solid #eeeeee;
	border-width:0 0 1px 1px;
	cursor:pointer;
}
.cmpt-sideSlider li.hover .support{
    background: #5cb731;
    color: #fff
}

.cmpt-sideSlider li.hover .support-tip,.cmpt-sideSlider li.hover .fb-box {
    right: 68px;
    display: block\9;
    visibility: visible;
    opacity: 1;
    filter: alhpa(opacity=100)
}

.cmpt-sideSlider .support-tip {
    position: absolute;
    top: -1px;
    right: 0;
    display: none\9;
    height: 0;
    text-align: left;
    white-space: nowrap;
    cursor: text;
    visibility: hidden;
    background: #fff;
    opacity: 0;
    filter: alhpa(opacity=0);
    -webkit-transition: right .2s ease-in-out,opacity .3s ease-in;
    -moz-transition: right .2s ease-in-out,opacity .3s ease-in;
    -o-transition: right .2s ease-in-out,opacity .3s ease-in;
    -ms-transition: right .2s ease-in-out,opacity .3s ease-in;
    transition: right .2s ease-in-out,opacity .3s ease-in
}

.cmpt-sideSlider .support-tip .support-box {
    min-width: 200px;
    padding: 15px
    10px;
    border: 1px
    solid #e5e5e5;
    background: #fff;
    color: #333
}
.cmpt-sideSlider .support-tip .support-box .suppbox-tit {
    height: 26px;
    margin: 0
    0 10px 0;
    padding: 0 0 0 10px;
    background: url("../images/ico-service.png") no-repeat 90% -10px;
    color: #808080
}
.cmpt-sideSlider .support-tip .support-box .suppbox-tit span {
    display: inline-block;
    padding: 0
    5px;
    background: #fff;
    font: 16px/28px "microsoft yahei"
}

.cmpt-sideSlider .support-tip .support-box .suppbox-list p {
    padding: 0
    0 0 20px;
    line-height: 2
}