.w1000{
    width:1000px;
    margin:0 auto;
}
.slider{
    height:100px;
    overflow: hidden;
    text-align: center;
    margin:50px 0;
}
.slider-arrow{
    width:50px;
    height:100px;
    font: 50px/100px 'microsoft yahei';
    cursor:pointer;
}
.slider-arrow:hover{
    background: #e0e0e0;
}
.slider-box{
    position: relative;
    width:900px;
    height:100px;
    outline:1px dotted #ccc;
    overflow: hidden;
}
.slider-container{
    position:absolute;
    left:0;
    top:0;
    width: 4000px;
}
.slider-container li{
    float:left;
}
.slider-container li a{
    display: block;
    width:210px;
    height:100px;
    background: #eee;
    margin-right:20px;
    font:16px/100px 'microsoft yahei';
}

a{
    text-decoration: none;
    color:#333;
    outline:0;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}
.fl {
    float: left;
}

.fr {
    float: right;
}